torch==2.6.0
uvicorn
fastapi
pydantic_settings
requests
numpy==1.26.4
soundfile
transformers
pydub
matplotlib
torchaudio
vocos
torchdiffeq
librosa
x_transformers
jieba
pypinyin
wandbpip
accelerate
ema_pytorch
datasets