absl-py==2.1.0
array_record==0.5.1
astunparse==1.6.3
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
dm-tree==0.1.8
docstring_parser==0.16
etils==1.7.0
flatbuffers==24.3.25
fsspec==2024.6.1
gast==0.4.0
google-auth==2.32.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.65.2
h5py==3.11.0
idna==3.7
immutabledict==4.2.0
importlib_resources==6.4.0
jax==0.4.31
jaxlib==0.4.31
keras==2.12.0
keras-nlp==0.5.0
libclang==18.1.1
Markdown==3.6
MarkupSafe==2.1.5
ml-dtypes==0.4.0
numpy==1.24.3
oauthlib==3.2.2
opt-einsum==3.3.0
packaging==24.1
promise==2.3
protobuf==3.20.3
psutil==6.0.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
scipy==1.14.0
simple_parsing==0.1.5
six==1.16.0
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.1
tensorflow-datasets==4.9.6
tensorflow-estimator==2.12.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
tensorflow-text==2.12.0
termcolor==2.4.0
tf-keras==2.15.0
toml==0.10.2
tqdm==4.66.4
typing_extensions==4.5.0
urllib3==2.2.2
Werkzeug==3.0.3
wrapt==1.14.1
zipp==3.19.2
